data/
doc/
src/code/env/

# LaTeX files
*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb

# R files
*.Rhistory

# Python files
.goutputstream-R56V5X
.idea/
__pycache__/
.ipynb_checkpoints/
